@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
/*

font-family: 'Acme', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Patua One', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Sniglet', cursive;
*/
*{
	box-sizing: border-box;
	
}

header,section
{
	overflow-x: hidden;
}

header a
{
	font-family: 'Sniglet', cursive;
	font-size: 1.2rem;
	color: whitesmoke;
}
header
{
	background: rgb(10,4,102);
    background: linear-gradient(90deg, rgba(10,4,102,0.6315476874343487) 8%, rgba(9,65,122,1) 74%);
	
}

.dropdown-content
{
	display: none;
	position: absolute;
	background: white;
	min-width: 160px;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a
{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover
{
	background: #ddd;
}
.dropdown:hover .dropdown-content
{
	display: block;
}
header .nav-item:last-child
{
	padding-right: 10.5em;
}
header .nav-item
{
	padding: 0.9em;
}
header .navbar-brand
{
	padding-left: 1rem;
	color: black;
}
header .nav-link:hover
{
	color: black;
}

header .row .col-md-5
{
	padding: 4.2vmin 1vmin;
}

header .row .col-md-7
{
	padding: 22vmin 1vmin;
	padding-bottom: 35vmin;
	font-family: 'Rubik', sans-serif;
	color:white;	
}

header .row .col-md-5 img
{
	width: 100%;
	padding-top: 50px;
}

header .container .col-md-7 h6
{
	padding: 1vmin;
	letter-spacing: 4px;
}
header .container .col-md-7 h1
{
	font-size: 8vmin;
	font-weight: bold;
	padding: 0.1em 0em;
}

header .container .col-md-7 p
{
	padding: 1vmin 5vmin;
}

header .container .col-md-7 button
{
	border-radius: 30px;
	font-weight: bold;
}
/*section 1*/

.section-1
{
	padding: 20vmin 0;
}
.section-1 .row .col-md-6 .pray img
{
	opacity: 0.8;
	width: 80%;
	border-radius: 0.2em;
	height: 570px;
}

.section-1 .row .col-md-6:last-child
{
	position: relative;
}

.section-1 .row .col-md-6 .panel
{
	position: absolute;
	top: 7vmin;
	left: -18vmin;
	background: white;
	border-radius: 3px;
	text-align: left;
	padding: 13vmin 5vmin 20vmin 10vmin;
	box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
	font-family: 'Rubik', sans-serif;
	z-index: 1;
}

.section-1 .row .col-md-6 .panel h1
{
	font-weight: bold;
	padding: 0.4em 0;
	font-size: 2em;
}

.section-1 .row .col-md-6 .panel p
{
	font-size: 0.9em;
	color: rgba(0,0,0,0.5);
}


/*contact*/
/*--------------Contact us---------*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/* Create two columns that float next to eachother */
.map {
  float: left;
  width: 50%;
  margin-top: 20px;
  padding: 20px;
}

/* Clear floats after the columns */
.contact-us:after {
  content: "";
  display: table;
  clear: both;
}

/*Footer*/

/*Slider*/
.carousel-inner
{
	height: 300px;
}

/*Section 2*/

.cover
{
	width: 100%;
	height: 55vmin;
	background: url("../assets/1.jpg");
	background-position: -24rem -19rem;
	background-size: 150%;
	position: relative;
}
.cover .content
{
	background: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	padding-top: 19vmin;
}

.cover .content>h1
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 6vmin;
	color: whitesmoke;
}
.cover .content>p
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2vmin;
	color: #e5e5e5;
}

.numbers .rect
{
	position: relative;
	z-index: 1;
	background: white;
	width: 17rem;
	height: 12rem;
	padding-top: 3.5vmin;
	margin: 1rem;
	border-radius: .5em;
	box-shadow: 1px 2px 50px 0px rgba(255,0,0,0.349);
}

.numbers
{
	margin-top: 10vmin;
}

.numbers .rect h1
{
	font-size: 5rem;
	color: tomato;
}
.numbers .rect p
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.purchase>h1
{
	padding-top: 15vmin;
	padding-bottom: 0.1em;
	font-family: 'Patua One', cursive;
}

.purchase>p
{
	color: gray;
	font-size: 3vmin;
	padding-bottom: 10vmin;
}

.purchase .cards .card
{
	width: 22rem;
	margin: 3vmin;
}

.cards div
{
	padding: 0;
	margin: 0;
}

.cards .title
{
	background: rgba(208,241,241,0.119);
	padding: 1.4rem 2.5rem;
	font-size: 2vmin;
}

.card .card-text
{
	padding: 2.5rem 3rem;
	color: gray;
}
.card img
{
	height: 250px;
}
.card-body .pricing
{
	background: rgba(208,241,241,0.119);
	border-top-right-radius: 170px;
	border-top-left-radius: 170px;
}

.card-body .pricing>h1
{
	font-size: 5vmin;
	padding: 1em 0.5em;
}



footer
{
	background: rgba(0,0,0,0.815);
	overflow-x: hidden;
	padding: 14vmin 18vmin;
}

footer p>span
{
	color: #ff512f;
}

footer input
{
	border: none !important;
}

footer input::placeholder
{
	color: white !important;
}

footer .input-group .input-group-text
{
	
	background: #ff512f;
	border: none;
}
footer .column i
{
	color: #dd2476;
}
footer .column i+i
{
	padding: 0 0.5em;
}


@media only screen and (max-width:768px)
{
	header.navbar-brand
	{
		padding-left:1rem;
	}
	
	.section-1 .row .col-md-6 .panel
	{
		position: initial;
		width: initial;
		height: initial;
	}
	
	.section-2 .cover
	{
		background-position: -25vmin -10vmin;
		
	}
	
	.numbers .rect
	{
		width: 10rem;
		height: 8rem;
	}
	
	.numbers .rect h1
	{
		font-size: 2rem;
	}
	
}

@media only screen and (max-width:425px)
{
	footer.row.col-md-2
	{
		margin-top: 8vmin;
	}
}



@media screen and (max-width:1200px)
{
	.inner-container
	{
		padding: 80px;
	}
}
@media screen and (max-width:1000px)
{
	.about-section
	{
		background-size: 100%;
		padding: 100px 40px;
	}
	.inner-container
	{
		width:100%;
	}
}
@media only screen and (max-width: 600px)
{
	.row
	{
		text-align: center;
		
	}
	.col-2, .col-3, .col-4,
	.footer-col-2, .footer-col-3, .footer-col-4
	{
		flex-basis: 100%;
	}
	
	.cart-info p
	{
		display: none;
	}
	 .map, input[type=submit],iframe {
    width: 100%;
    margin-top: 0;
  }
	
}

@media screen and (max-width:600px)
{
	.about-section
	{
		
		padding: 0;
	}
	.inner-container
	{
		padding: 60px;
	}
}

